.form-group{
    margin-top: 20px;
}
.customer-form{
    padding: 10px;
    border-top: 2px solid #D9D9D9;;
}
h2{
    font-weight: 600;
font-size: 12px;
color: #464F60;
margin-top: 12px;
margin-left: 10px;
}

.label{
    color: #464F60;
    font-weight: 600;
font-size: 12px;
}
::placeholder{
    color: #A1A9B8;
    font-weight: 400;
font-size: 14px;
}
.select-status{
    border-radius: 8px;
    border: none;
    outline: 0;
}
.form-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.bottom-form{
margin-left: 300px;
margin-top: 30px;
}

.btn-primary{
    margin-left: 20px;
}