app-add-customer{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 500px;
    z-index: 999;
    background-color: #E7E7E7;
}
app-customer-list{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}
